.container.homepage-main{
    padding: 0;
    margin-top: 45px;
}

/* Jumbotron */
.jumbo-row.row{
    width: 100%;
}

#Jumbotron1{
    color: black;
    background: url('https://images.pexels.com/photos/1126993/pexels-photo-1126993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    height: 40rem;
    width: 100%;
    border-radius: 0;
}

#jumbotronVideo {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 80px;
    min-width: 100%;
    min-height: 5rem;
    object-fit: cover;
}


/* main cards (first row of cards) */
#homeCollection-mainRow{
    margin-top: 70px;
    margin-bottom: 70px;
}

#women-collection-row{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

#men-collection-row{
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}

#women-collection-image{
    box-shadow: -30px -30px 0px 0px #c482cf;
    border-radius: 0;
    width: inherit;
    height: 22em;
}

#men-collection-image{
    box-shadow: 30px -30px 0px 0px #c482cf;
    border-radius: 0;
    width: inherit;
    height: 22em;
}

.homeCollection-btn{
    background-color: transparent;
    border: 1px solid #9c27b0;
    width: 160px;
    height: 60px;
}

.btn.homeCollection-btn:hover{
    background-color: #c482cf;
    border: 1px solid #c482cf;
}

#men-collection-details{
    display: flex;
    flex-direction: column;
}

.homeCollection-text{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
}

.homeCollection-name{
    font-weight: 1000;
}

.MuiPaginationItem-page.Mui-selected {
    background-color: #9c27b0 !important;
}




/* deal of the weak styles */
#dealOfWeak-row{
    background-color: #ba99bfbf;
    justify-content: center;
    margin-bottom: 100px;
}

#deal-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#deal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deal-photo{
    display: flex;
    justify-content: center;
}

#timer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.clock-times{
    background-color: #f7f0f7;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.clock-numbers{
    color: #e7ab3c;
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 0.2rem;
}

#border-botton{
    border-top: 4px solid #e7ab3c;
    width: 40%;
    margin-bottom: 20px;
}
.deal-text-align{
    text-align: center;
}

.deal-price{
    color: #895e0e;
    font-size: 2.3rem;
}

.clock-small{
    font-size: 1rem;
    color: rgb(112, 107, 107);
}



/* product cards styles */
.homepage-productCards-row.row{
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 3;
    margin: 10px;
    justify-content: center;
}

.suggestion-for{
    color: rgb(37, 3, 35);
    padding: 20px;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.suggestion-for.row{
    margin-right: none !important;
    margin-left: none !important;
}

#homepage-productCard{
    background: transparent;
    border: none;
    object-fit: cover;
}


