#sidebar {
    flex: 1;
    background-color: rgb(255 106 216 / 9%);
    color: rgb(182, 180, 180);
    padding: 12px;
    position: fixed;
    top: 0;
    bottom: 0;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow: auto;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .logo-section{
    display: flex;
    align-items: center;
  }

  .sidebarTitle {
    font-size: 15px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem:hover {
    background: rgb(117,46,100);
    background: linear-gradient(180deg, rgba(117,46,100,1) 0%, rgba(96,30,80,1) 56%, rgba(68,2,57,1) 100%);
    color: rgb(212, 199, 199);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }

  .link{
    text-decoration: none;
    color: rgb(182, 180, 180);
  }

  .link:hover{
    text-decoration: none;
    color: rgb(212, 199, 199);
  }

  ::-webkit-scrollbar {
    width: 10px;
    background: rgba(65, 4, 48, 0.13);
  }
  
::-webkit-scrollbar-track {/* Track */
    background: rgb(255 106 216 / 9%); 
}
   

::-webkit-scrollbar-thumb {/* Handle */
    background: rgb(73, 42, 69); 
    border-radius: 45px;
}

  
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: rgb(70, 39, 66); 
}
